*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.app-container{
    width: 100vw;
    height: 100vh;
}
.pageNotFoundContainer{
    height: 75vh;
    display: grid;
    place-items: center;
}
.pageNotFoundTitle{
    background-image: linear-gradient(45deg,rgba(107, 244, 39, 0.8),rgba(254, 144, 178, 0.8));
    font-size: 3rem;
    background-clip: text;
    color: transparent;
}

.mark{
    animation:markAnime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes markAnime {
    /* 0%{transform: translateX(5px)}
    25%{transform: translateX(10px)}
    50%{transform: translateX(15px)}
    75%{transform: translateX(10px)}
    100%{transform: translateX(0px)} */

    0%{color: rgb(22, 243, 92);transform: translateX(42px)}
    50%{color: rgb(26, 192, 238);transform: translate(20px)}

}

@media (max-width:600px) {
    .pageNotFoundTitle{
        background-color: aqua;
        font-size: x-large;
    }
    .pageNotFoundTitle span{
        font-size: xx-large;
    }

}