/* Home component */


body{
    z-index: -1;
}

.right-Section{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;
}

.homeNav{
    width: 100%;
    height: 40px;
}

.homeNav ul {
    display: flex;
    position: relative;
}

.homeNav ul li{
    list-style: none;
    margin: 0.5rem 2rem;
}
.homeNav ul li *{
    text-decoration: none;
    color: black;
}

.homeNav ul li:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.homeNav ul li::before{
    content: "";
    width: 1%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 6px;
    border-radius: 2px;
    opacity: 0;
}

.homeNav ul li:hover::before{
    opacity: 1;
}

.prev{
    position: relative;
    right: -50px;
}
.next{
    position: absolute;
    right: 0px;
    top: 150px;
}

.wrapper .carousel{
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    list-style: none;
}
.carousel >*{
    margin-left: 1rem;
}

.carousel *:hover{
    opacity: 0.7;
}

.carousel::-webkit-scrollbar, .trendingCardsHolder::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.carousel ,.trendingCardsHolder{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.trendingWrapper{
    position: relative;
    list-style: none;
    /* background-color: aqua; */

}

.trendingWrapper li{
    /* background-color: antiquewhite; */
    padding: 0px;
    margin: 0px;
}

.trendingCardsHolder{
    display: flex;
    cursor: pointer;
    overflow: hidden;
    overflow-x: scroll;
    /* background-color: antiquewhite; */
}

.trendingWrapper .left{
    top: 70px;
    left: -10px;
}
.trendingWrapper .right{
    top: 70px;
    right: 10px;
}

.trendingCardsHolder > *{
    margin-left:4rem;
}

.trendingCardsHolder *:hover{
    opacity: 0.8;
}

.wrapper{
    position: relative;
}

.left,.right{
    width: 60px;
    height: 60px;
    color: rgb(27, 22, 22);
    font-size: xx-large;
    opacity: 0.4;
    background-color: rgb(207, 203, 203);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    z-index: 9;
    position: absolute;
    left:6px;
    top:90px;
}

.right{
    position:absolute;
    top: 90px;
    right: 20px;
}

.left:hover,.right:hover{
    opacity: 1;
    cursor: pointer;
    background-color: rgba(222, 213, 213,0.8);
}

.carousel img{
    height: 250px;
    object-fit:cover;
    margin-left:1rem;
}

.carousel img:first-child{
    margin: 0rem;
}

.trendingPage{
    margin-top: 1rem;
    width: 100%;
    height: 280px;
}

.cardHolder{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.cardHolder img{
    border-radius: 5px;
    height: 160px;
}
.cardHolder div{
    margin-top: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    font-weight: 900;
}

.artistCards img{
    border-radius: 50%;
}

.artists{
    height: 320px;
}


hr{
    width: 0px;
    height: 1.5px;
    /* color: green; */
    /* box-shadow: 0px 0px 4px 10px solid red; */
    border-color: red;
    animation-name: hrWidth;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-delay: 1.5s;
    width: 50px;
}

@keyframes hrWidth {
    0% {width : 0px}
    25% { width: 25%}
    50% {width:50%}
    75% {width:75%}
    100% {width:100%}
}


@media  screen and (max-width: 1200px){
    .homeNav{
        display: none;
    }
}

@media  screen and (max-width: 500px) {
    .cardHolder *{
        margin-left: -0.5rem;
    }
}
