/* body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.loginBody{
    color: antiquewhite;
    /* background-color: black; */
    /* background: url(./assets/background-img\ 1.png); */
    /* background-image: linear-gradient(60deg,rgba(37, 33, 40, 0.873),rgba(68, 66, 64, 0.873)); */
    background: rgb(65,116,201);
    background: linear-gradient(90deg, rgba(65,116,201,0.9529061624649859) 1%, rgba(47,207,219,1) 23%, rgba(47,207,219,1) 77%, rgba(29,169,231,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 8%;
    opacity: 0.85;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loginOutline{
    width: 550px;
    height: 350px;
    background-color: rgba(70, 74, 74, 0.6);
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgb(212, 211, 211);
    position: absolute;
    opacity: 1;
    top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginLogo{
    position: absolute;
    top: 15px;
    /* left: 20%; */
    /* background-color:rgb(0, 0, 0); */
    padding: 0.5rem 1.5rem;
}

.loginOutline form{
    /* background-color: rgb(255, 59, 59); */
    width: 80%;
    display: flex;
    flex-direction: column;
}
.loginOutline form *{
    /* width: 150%; */
    margin-top: 0.5rem;
}
.loginOutline form input{
    padding: 0.4rem 0.3rem;
    border-radius: 5px;
    border: 0px;
}
.loginOutline form button{
    width: 40%;
    text-align: center;
    align-self: center;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    transition: 0.2s ease-in-out;
}

/* .loginOutline form button:hover{
    background-color: rgba(111, 111, 253,0.6);
    cursor: pointer;
} */

.loginOutline form{
    font-size: larger;
}
.btn{
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(124, 255, 53,0.6);
    transition: 0.2s ease-in-out;
}
.btn:hover{
    background-color: rgba(124, 255, 53,0.8);
    cursor: pointer;
}


@media screen and (max-width:600px) {
    .loginOutline{
        max-width: 85%;
        min-height: 40%;
    }

    .loginLogo{
        top: 0px;
        margin-bottom: 18px;
        position: relative;
        bottom:6px;
    }

}
