:root {
    /* --navText: #3492eb; */
    --navText: #fdfdfdfd;
    --bgNav: #222324;
  }


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.877); */
    background-color: var(--bgNav);
    height: 60px;
}
.logo{
    display: flex;
    font-size: large;
}
.logo-title{
    position: relative;
    top: 8px;
    margin-left: 8px;
    color: #fdfdfd;
}
.bar{
    width: 50px;
    height: 10px;
    background-color: black;
    margin: 0.1rem;
}

.first, .last{
    position: relative;
    top: -9px;
    border-radius: 4px;
    color: aliceblue;
    background-color: aliceblue;
}


.middle{
    display: inline-block;
    height: 30px;
    width: 10px;
    border-radius: 5px;
    background-color: #ea3244e9;
    color:  #ea3244e9;
    position: relative;
    top: 2px;
}

.playMiddle{
    animation: myAnMiddle;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

@keyframes myAnMiddle {
    0%{
        background-color: #f3172de9;
    }25%{
        background-color: #f88591e9;
    }50%{
        background-color: #ffffffe9;
    }75%{
        background-color: #e15b68e9;
    }
    100%{
        background-color: #f3172de9;
    }
}


.playFirst ,.playLast{
    animation: myAnSide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes myAnSide {
    0%{
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }25%{
        background-color: rgb(176, 139, 139);
        color: rgb(176, 139, 139);
    }50%{
        background-color: rgb(115, 95, 95);
        color: rgb(115, 95, 95);
    }75%{
        background-color: rgb(70, 62, 62);
        color: rgb(70, 62, 62);
    }
    100%{
        background-color: rgb(139, 72, 72);
        color: rgb(139, 72, 72);
    }
}



.nav-list{
    position: relative;
}

.nav-list > *{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin: 0rem 1rem;
    border-radius: 2px;
    /* color: #fdfdfd; */
    padding: 0.2rem 1rem;
    transition: 0.5s ease-in-out;
    /* color: rgba(97, 249, 249, 0.932); */
    color: var(--navText);
}

/* .nav-list > *:before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid #fdfdfd;
    border-right: 0px;
    border-top: 0px;
} */

.nav-list > *:hover , .active{
    background-color: #fdfdfd;
    color: black;
}



.search-bar-container{
    width: 25%;
    position: relative;
}

.search-bar{
    width: 100%;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    font-size: 14px;
}

.search-icon{
    position: absolute;
    font-size: 1.5rem;
    top: 2px;
    right: 4px;
}
.ham-container{
    width: 70px;
    height: 45px;
    display: grid;
    place-items: center;
    display: none;
    /* background-color: rebeccapurple; */
    position: absolute;
    right: 10px;

}

.ham{
    width: 50px;
    height: 6px;
    margin: 2px;
    background-color: #fdfdfd;
    border-radius: 5px;
}
.ham-container:hover{
    cursor: pointer;
}
.cxTitle{
    transition: 0.2s ease-in-out;
}

.cxTitle::before{
    content: "Hello!!";
    position: absolute;
    top: -9px;
    font-size: 12px;
    color: aqua;
}
.logOut{
    border-radius: 5px;
    background-color: rgba(240, 31, 31,0.8);
}
.logOut:hover{
    cursor: pointer;
}


@media screen and (max-width:1000px) {
    .nav-list > *{
        padding: 0.1rem 0.1rem;
    }
}

@media  screen and (max-width:850px) {
    nav{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding: 0.5rem 0.5rem;
    }
    .search-bar-container,.nav-list{
        align-self: center;
        position: relative;
        bottom: 12px;
    }
    /* .nav-list */

    .nav-list{
        opacity: 0;
        /* display: none; */
        display: flex;
        flex-direction: column;
        visibility: hidden;
        height: 0px;
        transition: 0.2s ease-in-out;
    }

    .nav-list > *{
        margin-top: 1rem;
    }

    .nav-list-show{
        /* display: flex; */
        display: flex;
        flex-direction: column;
        visibility: visible;
        height: 180px;
        opacity: 1;
    }

    .ham-container-none{
        display: none;
    }

    .ham-container{
        display: grid;
        top:20px;
    }

    .logo{
        position: relative;
        top: 15px;
        right: -8px;
    }

    .cxTitle{
        margin-top: 1.8rem;
    }

    .cxTitle::before{
        content: "Hello!!";
        /* position: absolute; */
        top:50%;
        font-size: 15px;
        color: aqua;
    }

}

@media screen and (max-width:620px) {
    .search-bar-container{
        opacity: 0;
    }
}


