.signupFormContainer{
    background-color: #7c2ae8e4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer{
    width:600px;
    height: 350px;
    color: aliceblue;
    background-color: rgba(254, 254, 254,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    position: absolute;
    top: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px;
}
.formContainer form *{
    display: block;
    width: 100%;
    margin-top: 8px;
}

.formContainer form{
    /* background-color: aqua; */
    width: 100%;
}

.formContainer form input{
    /* background-color: aqua; */
    border-radius: 4px;
    /* outline-style: hidden;
    outline-width: 2rem; */
}

.formContainer input{
    padding: 0.2rem 0.2rem;
}

.formContainer{
    font-size: 16px;
}

.formContainer button{
    width: 30%;
    display: block;
    margin: 20px auto;
    padding: 0.5rem 0.5rem;
    /* background-color: rgb(255, 191, 0); */
}

#userEmail:invalid{
    outline-color: red;
}

#userEmail:valid{
    outline-color: green;
}

.signupLogo{
    margin-top: 10px;
}

.formContainer button{
    border-radius: 5px;
    border:0px;
    transition: 0.25s ease-in-out;
}

.formContainer button:hover{
    background-color: rgb(111, 238, 111);
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .formContainer{
        width: 80%;
    }
    .signupLogo{
        margin-top: 0px;
        position: relative;
        bottom:8px;
    }
}
